h1
    text-shadow: 0 0 0.2em rgba(20, 255, 20, 0.7), 0 0 0.2em rgba(20, 255, 20, 0.7), 0 0 0.2em rgba(20, 255, 20, 0.7)

img 
    width: 350px
    height: 350px
    
.grid-container
    display: grid
    grid-template-columns: 1fr 1fr
    grid-gap: 30px
    justify-content: space-around

.grid-content
    width: 350px
    height: 350px
    border: solid black
    margin: auto

body
    background-image: url(bellagio-carpet-7_1578718i.jpg)

.title
    display: grid
    grid-template-columns: 4fr
    grid-gap: 30px
    justify-content: space-around
    text-align: center

.marquee
    width: 95%
    margin: 0 auto
    overflow: hidden
    white-space: nowrap
    box-sizing: border-box
    animation: marquee 20s linear infinite

@keyframes marquee
    0%
        text-indent: 75%
    100%
        text-indent: -125%

.marquee:hover
    animation-play-state: paused