= render 'partials/navbar'
%h1.marquee Welcome to Cattastic!

%section.container
    %div.grid-container
        - @cats.each do |cat|
            .div.grid-content
                = image_tag cat['url']
    %h1.fight Fight!!!
= render 'partials/categories'